.Euterpe {
    text-align: center;
    background-color: black;
    height: 100vh;
    display:flex;
    flex-direction: row;
}

.Euterpe .CellularAutomataSketch {
    border: 5px solid darkslategray;
    float: left;
    width: 65%;
}

.Euterpe .Panel {
    background-color: blanchedalmond;
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Euterpe .Headers {
    align-self: flex-start;
    width: 100%;
}

.Euterpe .EarthRadioLogo {
    margin: 0 auto;
    margin-top: 10%;
    width: 25%;
    height: auto;
}

.Euterpe .Title {
    color: darkslategrey;
    margin: 0 auto;
}

.Euterpe .Subtitle {
    color: black;
    margin: 0 auto;
    margin-left: 30%;
}

.Euterpe .Controllers {
    margin-block-end: 25%;
    padding: 10px;
}

.Euterpe .PlayingRule {
    color: black;
}

.Euterpe .ruleButton {
    width: 75%;
    color: black;
    font: inherit;
    background-color: grey;
    padding: 10px;
}

.Euterpe .startButton {
    width: 75%;
    color: black;
    font: inherit;
    padding: 10px;
    background-color: grey;
}