@media (orientation: landscape) {
    .HumanMusic {
        text-align: center;
        background-color: black;
        font-family: 'ChubbyChoo-Regular';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
        padding: 0;
        width: 100vw;
        width: -webkit-fill-available;
        height: 100vh;
        height: -webkit-fill-available;
        display: flex;
        flex-direction: row;
    }

    .HumanMusic .CellularAutomataSketch {
        border: 5px solid darkslategray;
        background-color: black;
        width: 75vw;
        height: 100vh;
        box-sizing: border-box;
    }

    .HumanMusic .Panel {
        background-color: blanchedalmond;
        flex-grow: 1;
        width: 25vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .HumanMusic .Panel .Headers {
        width: fit-content;
        height: fit-content;
        align-self: center;
        margin-left: 3vmin;
        margin-top: 3vmin;
        font-size: 1vmin;
    }

    .HumanMusic .Panel .Headers .EarthRadioLogo {
        margin: 0 auto;
        width: auto;
        height: 25vh;
        align-self: center;
    }

    .HumanMusic .Panel .Headers .Title {
        color: darkslategrey;
        margin: 0 auto;
    }

    .HumanMusic .Panel .Headers .Subtitle {
        color: black;
        margin: 0 auto;
    }

    .HumanMusic .Panel .Controllers {
        margin-top: auto;
        margin-bottom: auto;
    }

    .HumanMusic .Panel .Controllers .PlayingRule {
        color: black;
        white-space: nowrap;
        font-size: 2vmin;
    }

    .HumanMusic .Panel .Controllers .ruleButton {
        width: 20vw;
        height: 12vh;
        color: black;
        font: inherit;
        font-size: 1.7vmin;
        background-color: grey;
    }

    .HumanMusic .Panel .Controllers .startButton {
        width: 20vw;
        height: 12vh;
        color: black;
        font: inherit;
        font-size: 1.7vmin;
        background-color: grey;
    }

    .HumanMusic .Panel .Misc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-self: flex-end;
        margin-right: 1vmin;
        margin-top: 1vmin;
        margin-left: auto;
    }

    .HumanMusic .Panel .Misc .GitHubLink {
        margin-left: auto;
    }

    .HumanMusic .Panel .Misc .GitHubLink .GitHubLogo {
        width: 3vw;
        height: auto;
    }

    .HumanMusic .Panel .Misc .Dad {
        color: black;
        font-size: 1vw;
        margin-top: auto;
        align-self: end;
    }
}

@media (orientation: portrait) {
    .HumanMusic {
        text-align: center;
        background-color: black;
        font-family: 'ChubbyChoo-Regular';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0%;
        padding: 0%;
        width: 100vw;
        height: 100vh;
        height: -webkit-fill-available;
        display: flex;
        flex-direction: column;
    }

    .HumanMusic .CellularAutomataSketch {
        border: 5px solid darkslategray;
        background-color: black;
        width: 100vw;
        height: 80vh;
        max-height: 80vh;
        min-height: 80vh;
        box-sizing: border-box;
    }

    .HumanMusic .Panel {
        background-color: blanchedalmond;
        width: 100vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
    }

    .HumanMusic .Panel .Headers {
        width: fit-content;
        height: fit-content;
        margin-left: 3vmin;
        margin-top: 3vmin;
        font-size: 2vmin;
    }

    .HumanMusic .Panel .Headers .EarthRadioLogo {
        margin: 0 auto;
        width: 3vh;
        height: auto;
        align-self: center;
    }

    .HumanMusic .Panel .Headers .Title {
        color: darkslategrey;
        margin: 0 auto;
    }

    .HumanMusic .Panel .Headers .Subtitle {
        color: black;
        margin: 0 auto;
    }

    .HumanMusic .Panel .Controllers {
        flex-grow: 1;
        align-self: center;
    }

    .HumanMusic .Panel .Controllers .PlayingRule {
        color: black;
        white-space: nowrap;
        font-size: 2.3vmin;
    }

    .HumanMusic .Panel .Controllers .ruleButton {
        width: fit-content;
        height: 5vh;
        color: black;
        font: inherit;
        font-size: 3vmin;
        background-color: grey;
    }

    .HumanMusic .Panel .Controllers .startButton {
        min-width: 25vw;
        width: fit-content;
        height: 5vh;
        color: black;
        font: inherit;
        font-size: 3vmin;
        background-color: grey;
    }

    .HumanMusic .Panel .Misc {
        margin-right: 1.5vmin;
        margin-top: 1.5vmin;
        display: flex;
        flex-direction: column;
    }

    .HumanMusic .Panel .Misc .GitHubLink {
        margin-left: auto;
    }

    .HumanMusic .Panel .Misc .GitHubLink .GitHubLogo {
        width: 5vw;
        height: auto;
    }

    .HumanMusic .Panel .Misc .Dad {
        color: black;
        font-size: 2vmin;
        margin-top: 0%;
        align-self: stretch;
    }
}