@media (orientation: landscape) {
   .HumanMusic {
      text-align: center;
      background-color: #141414;
      font-family: "ChubbyChoo-Regular";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: row;
   }

   .HumanMusic .Headers {
      width: 50%;
      height: auto;
      align-self: center;
      -webkit-filter: drop-shadow(5px 5px 5px #020202);
      filter: drop-shadow(5px 5px 5px #020202);
   }

   .HumanMusic .Headers .EarthRadioLogo {
      height: 40%;
      width: 40%;
   }

   .HumanMusic .Headers .Title {
      color: rgb(177, 37, 37);
      font-size: 5vmin;
      margin: 0 auto;
   }

   .HumanMusic .Headers .Subtitle {
      color: white;
      font-size: 2.5vmin;
      margin: 0 auto;
   }

   .HumanMusic .Automata {
      align-self: center;
      background-color: transparent;
   }

   .HumanMusic .Automata .flip-card {
      -webkit-filter: drop-shadow(5px 5px 5px #020202);
      filter: drop-shadow(5px 5px 5px #020202);
      align-self: center;
      justify-self: center;
      background-color: transparent;
      width: 82vh;
      height: 82vh;
      perspective: 2000px;
      /* Remove this if you don't want the 3D effect */
   }

   /* This container is needed to position the front and back side */
   .HumanMusic .Automata .flip-card .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
   }

   /* Do an horizontal flip when you move the mouse over the flip box container */
   .HumanMusic .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
   }

   /* Position the front and back side */
   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front,
   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back {
      border: 0.1vmax solid white;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      /* Safari */
      box-sizing: border-box;

      backface-visibility: hidden;
   }

   /* Style the front side (fallback if image is missing) */
   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front {
      background-color: transparent;
   }

   /* Style the back side */
   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back {
      background: rgba(10, 10, 10, 0.98);
      color: white;
      transform: rotateY(180deg);
      display: table;
   }

   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back .PlayingRule {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      font-size: 2vmax;
   }

   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front .CellularAutomataSketch {
      background-color: rgba(10, 10, 10, 0.98);
      width: 100%;
      height: 100%;
      box-sizing: border-box;
   }

   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front .Loading {
      background-color: rgba(10, 10, 10, 0.98);
      width: 100%;
      height: 100%;
      color: white;
      box-sizing: border-box;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front .Loading .LoadingText {
      color: white;
      font-size: 2vmax;
   }

   .HumanMusic .Automata .Controllers {
      margin-top: 3vmin;
   }

   .HumanMusic .Automata .Controllers .loadingButton {
      width: 20vw;
      height: 5vh;
      color: white;
      font: inherit;
      font-size: 1.7vmin;
      background-color: grey;
   }

   .HumanMusic .Automata .Controllers .ruleButton {
      width: 20vw;
      height: 5vh;
      color: white;
      font: inherit;
      font-size: 1.7vmin;
      background-color: grey;
   }

   .HumanMusic .Automata .Controllers .startButton {
      width: 20vw;
      height: 5vh;
      color: white;
      font: inherit;
      font-size: 1.7vmin;
      background-color: grey;
   }

   .HumanMusic .Misc {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      color: white;
      margin-right: 1vmin;
      margin-left: auto;
   }

   .HumanMusic .Misc .GitHubLink {
      margin-left: auto;
   }

   .HumanMusic .Misc .GitHubLink .GitHubLogo {
      width: 3vmin;
      height: auto;
      filter: invert(100%);
   }

   .HumanMusic .Misc .Dad {
      color: white;
      margin-top: 0;
      font-size: 1.5vmin;
      width: max-content;
   }

   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front .Loading .LoadingText:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4, end) 900ms infinite;
      animation: ellipsis steps(4, end) 900ms infinite;
      content: "\2026"; /* ascii code for the ellipsis character */
      width: 0px;
   }

   @keyframes ellipsis {
      to {
         width: 20px;
      }
   }

   @-webkit-keyframes ellipsis {
      to {
         width: 20px;
      }
   }
}

@media (orientation: portrait) {
   .HumanMusic {
      background-color: #141414;
      text-align: center;
      font-family: "ChubbyChoo-Regular";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      min-height: -webkit-fill-available;
      display: flex;
      flex-direction: column;
   }

   .HumanMusic .Headers {
      margin-top: 2vh;
      width: 50%;
      height: auto;
      align-self: center;
      -webkit-filter: drop-shadow(5px 5px 5px #020202);
      filter: drop-shadow(5px 5px 5px #020202);
   }

   .HumanMusic .Headers .EarthRadioLogo {
      height: auto;
      width: 40%;
   }

   .HumanMusic .Headers .Title {
      color: rgb(177, 37, 37);
      font-size: 5vmin;
      margin: 0 auto;
   }

   .HumanMusic .Headers .Subtitle {
      color: white;
      font-size: 2.5vmin;
      margin: 0 auto;
   }

   .HumanMusic .Automata {
      align-self: center;
      margin-top: 5vh;
   }

   .HumanMusic .Automata .flip-card {
      align-self: center;
      justify-self: center;
      background-color: transparent;
      width: 90vw;
      height: 90vw;
      perspective: 2000px;
      -webkit-filter: drop-shadow(5px 5px 5px #020202);
      filter: drop-shadow(5px 5px 5px #020202);
      /* Remove this if you don't want the 3D effect */
   }

   /* This container is needed to position the front and back side */
   .HumanMusic .Automata .flip-card .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
   }

   /* Do an horizontal flip when you move the mouse over the flip box container */
   .HumanMusic .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
   }

   /* Position the front and back side */
   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front,
   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back {
      border: 0.1vmax solid white;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden;
   }

   /* Style the front side (fallback if image is missing) */
   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front {
      background-color: #090909;
   }

   /* Style the back side */
   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back {
      background: rgba(10, 10, 10, 0.98);
      color: white;
      transform: rotateY(180deg);
      display: table;
   }

   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back .PlayingRule {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      font-size: 2vmax;
   }

   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front .CellularAutomataSketch {
      background: rgba(10, 10, 10, 0.98);
      width: 100%;
      height: 100%;
      box-sizing: border-box;
   }

   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front .Loading {
      background: rgba(10, 10, 10, 0.98);
      width: 100%;
      height: 100%;
      color: white;
      box-sizing: border-box;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front .Loading .LoadingText {
      color: white;
      font-size: 2vmax;
   }

   .HumanMusic .Automata .Controllers {
      margin-top: 3vmin;
   }

   .HumanMusic .Automata .Controllers .ruleButton {
      width: 20vw;
      height: 5vh;
      color: white;
      font: inherit;
      font-size: 1.7vmin;
      background-color: grey;
   }

   .HumanMusic .Automata .Controllers .startButton {
      width: 20vw;
      height: 5vh;
      color: white;
      font: inherit;
      font-size: 1.7vmin;
      background-color: grey;
   }

   .HumanMusic .Automata .Controllers .loadingButton {
      width: 20vw;
      height: 5vh;
      color: white;
      font: inherit;
      font-size: 1.7vmin;
      background-color: grey;
   }

   .HumanMusic .Misc {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      color: white;
      margin-right: 1vmin;
      margin-top: 15%;
      margin-left: auto;
   }

   .HumanMusic .Misc .GitHubLink {
      margin-left: auto;
   }

   .HumanMusic .Misc .GitHubLink .GitHubLogo {
      width: 3vmin;
      height: auto;
      filter: invert(100%);
   }

   .HumanMusic .Misc .Dad {
      color: white;
      margin-top: 0;
      font-size: 1.5vmin;
      width: max-content;
   }

   .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front .Loading .LoadingText:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4, end) 900ms infinite;
      animation: ellipsis steps(4, end) 900ms infinite;
      content: "\2026"; /* ascii code for the ellipsis character */
      width: 0px;
   }

   @keyframes ellipsis {
      to {
         width: 20px;
      }
   }

   @-webkit-keyframes ellipsis {
      to {
         width: 20px;
      }
   }
}
