@media (orientation: landscape) {
    .HumanMusic {
        text-align: center;
        background-color: black;
        font-family: 'ChubbyChoo-Regular';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        min-height: -webkit-fill-available;
        display: flex;
        flex-direction: row;
    }
    
    .HumanMusic .Headers {
        width: 50%;
        height: auto;
        align-self: center;
    }
    
    .HumanMusic .Headers .EarthRadioLogo {
        height: 40%;
        width: 40%;
    }
    
    .HumanMusic .Headers .Title {
        color: orange;
        font-size: 5vmin;
        margin: 0 auto;
    }
    
    .HumanMusic .Headers .Subtitle {
        color: white;
        font-size: 2.5vmin;
        margin: 0 auto;
    }

    .HumanMusic .Automata {
        align-self: center;
    }
    
    .HumanMusic .Automata .flip-card {
        align-self: center;
        justify-self: center;
        background-color: transparent;
        width: 30vw;
        height: 30vw;
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
    }
    
    /* This container is needed to position the front and back side */
    .HumanMusic .Automata .flip-card .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    /* Do an horizontal flip when you move the mouse over the flip box container */
    .HumanMusic .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
    /* Position the front and back side */
    .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front, .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }
    
    /* Style the front side (fallback if image is missing) */
    .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front {
        background-color: black;
        color: black;
    }
    
    /* Style the back side */
    .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back {
        background-color: black;
        color: white;
        border: 1vmin solid white;
        border-radius: 1vmin;
        transform: rotateY(180deg);
        display: table; 
    }
    
    .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back .PlayingRule {
        text-align:center; 
        vertical-align: middle;
        display: table-cell;
        font-size: 2vw;
    }
    
    .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front .CellularAutomataSketch {
        background-color: black;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 1vmin solid white;
        border-radius: 1vmin;
    }
    
    .HumanMusic .Automata .Controllers {
        margin-top: 3vmin;
    }
    
    .HumanMusic .Automata .Controllers .ruleButton {
        width: 20vw;
        height: 5vh;
        color: white;
        font: inherit;
        font-size: 1.7vmin;
        background-color: grey;
    }
    
    .HumanMusic .Automata .Controllers .startButton {
        width: 20vw;
        height: 5vh;
        color: white;
        font: inherit;
        font-size: 1.7vmin;
        background-color: grey;
    }
    
    .HumanMusic .Misc {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        color: white;
        margin-right: 1vmin;
        margin-left: auto;
    }
    
    .HumanMusic .Misc .GitHubLink {
        margin-left: auto;
    }
    
    .HumanMusic .Misc .GitHubLink .GitHubLogo {
        width: 5vmin;
        height: auto;
        filter: invert(100%);
    }
    
    .HumanMusic .Misc .Dad {
        color: white;
        margin-top: 0;
        font-size: 1.5vmin;
    }
}

@media (orientation: portrait) {
    .HumanMusic {
        text-align: center;
        background-color: black;
        font-family: 'ChubbyChoo-Regular';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        min-height: -webkit-fill-available;
        display: flex;
        flex-direction: column;
    }
    
    .HumanMusic .Headers {
        margin-top: 2vh;
        width: 50%;
        height: auto;
        align-self: center;
    }
    
    .HumanMusic .Headers .EarthRadioLogo {
        height: auto;
        width: 40%;
    }
    
    .HumanMusic .Headers .Title {
        color: orange;
        font-size: 5vmin;
        margin: 0 auto;
    }
    
    .HumanMusic .Headers .Subtitle {
        color: white;
        font-size: 2.5vmin;
        margin: 0 auto;
    }

    .HumanMusic .Automata {
        align-self: center;
        margin-top: 5vh;
    }
    
    .HumanMusic .Automata .flip-card {
        align-self: center;
        justify-self: center;
        background-color: transparent;
        width: 90vw;
        height: 90vw;
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
    }
    
    /* This container is needed to position the front and back side */
    .HumanMusic .Automata .flip-card .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    /* Do an horizontal flip when you move the mouse over the flip box container */
    .HumanMusic .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
    /* Position the front and back side */
    .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front, .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }
    
    /* Style the front side (fallback if image is missing) */
    .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front {
        background-color: black;
        color: black;
    }
    
    /* Style the back side */
    .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back {
        background-color: black;
        color: white;
        border: 1vmin solid white;
        border-radius: 1vmin;
        transform: rotateY(180deg);
        display: table; 
    }
    
    .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-back .PlayingRule {
        text-align:center; 
        vertical-align: middle;
        display: table-cell;
        font-size: 2vw;
    }
    
    .HumanMusic .Automata .flip-card .flip-card-inner .flip-card-front .CellularAutomataSketch {
        background-color: black;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 1vmin solid white;
        border-radius: 1vmin;
    }
    
    .HumanMusic .Automata .Controllers {
        margin-top: 3vmin;
    }
    
    .HumanMusic .Automata .Controllers .ruleButton {
        width: 20vw;
        height: 5vh;
        color: white;
        font: inherit;
        font-size: 1.7vmin;
        background-color: grey;
    }
    
    .HumanMusic .Automata .Controllers .startButton {
        width: 20vw;
        height: 5vh;
        color: white;
        font: inherit;
        font-size: 1.7vmin;
        background-color: grey;
    }
    
    .HumanMusic .Misc {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        color: white;
        margin-right: 1vmin;
        margin-top: 10%;
        margin-left: auto;
    }
    
    .HumanMusic .Misc .GitHubLink {
        margin-left: auto;
    }
    
    .HumanMusic .Misc .GitHubLink .GitHubLogo {
        width: 5vmin;
        height: auto;
        filter: invert(100%);
    }
    
    .HumanMusic .Misc .Dad {
        color: white;
        margin-top: 0;
        font-size: 1.5vmin;
    }
}