body {
   font-family: "ChubbyChoo-Regular";
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin: 0%;
   padding: 0%;
   background-color: #141414;
   width: 100vw;
   height: 100vh;
}

@font-face {
   font-family: "ChubbyChoo-Regular";
   src: local("ChubbyChoo-Regular"), url(../resources/fonts/ChubbyChoo-Regular.woff) format("woff");
   /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

* {
   box-sizing: border-box;
}
