body {
  font-family: 'ChubbyChoo-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  padding: 0%;
}

@font-face {
  font-family: 'ChubbyChoo-Regular';
  src: local('ChubbyChoo-Regular'), url(../fonts/ChubbyChoo-Regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

* {
  box-sizing: border-box;
}